#hero {
    background-image: url(/images//places/ocean.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
}

#hero-content {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

#hero-content h1 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 50px;
    font-family: "Raleway", sans-serif;

}

#hero-content p {
    color: white;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

#hero-content a {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
    background-color: rgb(255, 238, 0);
}

#highlights-content {
    background-color: rgb(215, 248, 251);
    height: 550px;
    position: relative;
    padding: 0 150px;

}

#highlights-content h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;

    padding-top: 75px;
}

.highlights-imgs {

    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.highlights-imgs img {
    width: 660px;
    height: 250px;
    border-radius: 10px;

}





.miami span {
    color: rgb(9, 123, 99);
}


.miami h2 {
    text-align: center;
    text-transform: uppercase;
}